.header {
  margin-top: 20px;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  height: 80px;
  // position: absolute;
  display: flex;
  justify-content: space-between;
  width: 90%;
  //   background: blue;

  .logo-container {
    display: flex;
    width: 400px;
    justify-content: space-evenly;
    margin-left: 50px;
    // border: 1px solid white;

    img {
      width: 75px;
      height: 75px;
      margin-top: 5px;
    }

    p {
      color: rgb(194, 28, 28);
      font-size: 6rem;
      line-height: 4rem;
      margin-top: 10px;
    }

    .title-container {
      color: white;

      h3 {
        font-size: 3rem;
        margin-top: 7px;
        margin-bottom: 0;
        font-weight: bold;
      }

      h5 {
        margin-top: 0;
        font-size: 2rem;
      }
    }
  }

  .nav {
    display: flex;
    justify-content: space-between;
    width: 400px;
    margin-right: 100px;
    // background: green;

    a {
      color: white;
      text-decoration: none;
      font-size: 2.1rem;
      padding-top: 30px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
