.projects {
  position: absolute;
  margin-top: 130px;
  color: white;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;

  .project-container {
    width: 100%;

    h3 {
      width: 80%;
      text-align: center;
      font-size: 1.5rem;
      margin-top: 5px;
    }

    .project-buttons {
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      a {
        width: 30%;
        height: 30px;
        border: none;
        border-radius: 3px;
        background: rgb(160, 14, 14);
        color: white;
        text-align: center;

        &:hover {
          background: rgb(233, 24, 24);
          cursor: pointer;
        }

        button {
          background: none;
          color: white;
          border: none;
          width: 100%;
          height: 30px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    img {
      width: 80%;
      height: auto;
      border-radius: 5px;
    }

    p {
      width: 80%;
    }

    li {
      width: 70%;
      margin-bottom: 10px;
    }
  }
}
